
<div class="fond"> <span class="s1">ARTE</span></div>
<div class="card">
  <div class="thumbnail"><img class="left" [src]="opere1[id].img"   /></div>
  <div class="right">
    <h1>{{opere1[id].nome}}</h1>
 
    <p>{{opere1[id].des}}</p>
  </div>
  <h5 style=" color: #3C4447;">{{opere1[id].annoPro}}</h5>
  <h6></h6>
  <ul>
    <li><i class="fa fa-eye fa-2x"></i></li>
    <li><i class="fa fa-heart-o fa-2x"></i></li>
    <li><i class="fa fa-envelope-o fa-2x"></i></li>
    <li><i class="fa fa-share-alt fa-2x"></i></li>
  </ul>
  <div class="fab"><i class="fa fa-arrow-down fa-3x"></i></div>
  
</div>
<div class="fond"> <span class="s2">ARTE</span></div>
<div class="card">
  <div class="thumbnail"><img class="left" [src]="opere2[id].img"   /></div>
  <div class="right">
    <h1>{{opere2[id].nome}}</h1>
 
    <p>{{opere2[id].des}}</p>
  </div>
  <h5 style=" color: #3C4447;">{{opere2[id].annoPro}}</h5>
  <h6></h6>
  <ul>
    <li><i class="fa fa-eye fa-2x"></i></li>
    <li><i class="fa fa-heart-o fa-2x"></i></li>
    <li><i class="fa fa-envelope-o fa-2x"></i></li>
    <li><i class="fa fa-share-alt fa-2x"></i></li>
  </ul>
  <div class="fab"><i class="fa fa-arrow-down fa-3x"></i></div>
</div>
   

   